.button {
  border-radius: 12px;
  padding: 10px;
  transition: opacity 0.7s;
}
.button:disabled {
  cursor: default;
  opacity: 0.7 !important;
}
.button:active {
  opacity: 0.3;
}
button:hover {
  opacity: 0.7;
}

.button_text {
  font-size: 16px;
}
.button--primary {
  border: 1px solid #775ce5;
  background-color: #775ce5;
  color: white;
}

.button--usual {
  border: 1px solid #775ce5;
  background-color: white;
  color: #775ce5;
}
