.status_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  align-items: center;
}
.time {
  font-size: 20px;
  color: white;
}
.bar {
  display: flex;
  gap: 2px;
}
