.welcome_page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 852px;
  overflow: hidden;
  position: relative;
}
.welcom_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 20px;
  background-image: url("./welcome-background.svg");
  border-radius: 24px;
  height: 584px;
  z-index: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
.img {
  position: absolute;
  left: -280px;
  top: 35px;
  z-index: 6;
}
