.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.field_label {
  font-size: 14px;
}
.field_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}
.field_input {
  border: 1px solid #775ce5;
  border-radius: 12px;
  padding: 16px;
  font-size: 14px;
  transition: opacity 0.7s;
  width: 100%;
  &:hover {
    opacity: 0.7;
  }
}
.field_input--error {
  border: 1px solid red;
  border-radius: 12px;
  padding: 16px;
  font-size: 14px;
  transition: opacity 0.7s;
  width: 100%;
  &:hover {
    opacity: 0.7;
  }
}
.field_icon {
  display: block;
  height: 20px;
  width: 20px;

  cursor: pointer;
  position: absolute;
  right: 16px;
  top: calc(50% - 10px);

  &:hover {
    opacity: 0.7;
  }
}
